<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="./main.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido  <%=userName%> </h1>
    
    <form onsubmit="return enviarProducto()">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" placeholder="nombre del producto">

        <label for="price">Price:</label>
        <input type="number" name="price" id="price" placeholder="precio">

        <label for="thumbnail">url de imagen:</label>
        <input type="text" name="thumbnail" id="thumbnail" placeholder="ej. https://picsum.photos/200">

        <button type="submit" >crear producto</button>
    </form>

    <div id="main-container">
        <table>
            <thead>
                <tr>
                <th >Title</th>
                <th >Price</th>
                <th >Imagen</th>
                </tr>
            </thead>
            <tbody id='productsTable' >
                <% prods.map(prod => { %>    
                    <tr>
                        <td> <%=prod.title %> </td>
                        <td> <%=prod.price %> </td>
                        <td><img src="<%=prod.thumbnail %>" alt="<%=prod.title %>" width="25"></td>
                    </tr>
                <%}) %> 
            </tbody> 
        </table>
    </div>

    <form onsubmit="return enviarMensaje()">

        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="ej test@gmail.com">

        <label for="text">Mensaje</label>
        <input type="text" name="text" id="text" placeholder="ingresar mensaje">

        <button type="submit">Enviar Mensaje</button>
    </form>

    <div id="messagesTable">
    
    </div> 
    <br><br> 

    <a  class= "css-button-sliding-to-top--red" href="/logout">Logout</a> 
</body>
</html>